@charset "UTF-8";
/* CSS Document */
div#launch button{
	width:50px;
	line-height:2em;
	border-radius:4px;
	background: url(../image/paper.jpg);
}

div#launch{
	position:absolute;
	top:172px; 
	left:1057px;
}

ul.index{
	padding-left:90px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:solid 1px #CCCCCC;
}

ul.index li{
	line-height:2em;
}

div form{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}

div form input[type="text"]{
	line-height:2em;
	border-radius:4px;
}

div form input[type="button"]{
	width:50px;
	line-height:2em;
	border-radius:4px;
	background:rgba(255,255,255,0.5);
}

div#right ul{
	padding-left:37px;
	padding-top:20px;
	padding-bottom:37px;
}

div#right ul li{
	line-height:2em;
}

div#right ul li span.you{
	padding-top:4px;
	float:right;
	padding-right:15px;
}


	



